<% if earthquake.nil? %>
    <div><ul><li>missing earthquake data</li></ul></div>
<% else %>
    <div>
      <ul>
        <li><%= earthquake.src %></li>
        <li><%= earthquake.datetime %></li>
        <li><%= earthquake.magnitude %></li>
        <li><%= earthquake.depth %></li>
        <li><%= earthquake.lat %>,<%= earthquake.lon %></li>
        <li><%= earthquake.region %></li>
      </ul>
    </div>
<% end %>